<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='charts.min.css') }}">

</head>
<body>
    <h1>index</h1>
    <ul>
      <li><a href="{{ url_for('character.list') }}">キャラクターリスト</a></li>
      <li><a href="{{ url_for('weapon.list') }}">武器リスト</a></li>
      <li><a href="{{ url_for('quest.list') }}">クエストリスト</a></li>
    </ul>

    <h2>クエスト受注数ランキング</h2>
    <table class="charts-css bar">

        <thead>
            <tr>
                <th>順位</th>
                <th>キャラクター名</th>
                <th>クエスト受注数</th>
            </tr>
        </thead>

        <tbody>
          {% set max_quest_count = ranking|map(attribute='quest_count')|max + 1%}
          {% for character in ranking[:5] %}
          {% set quest_count = character.quest_count + 1 %}
          {% set persent = quest_count/max_quest_count %}
           <tr style="--size: {{persent}};">
              <!-- <td>{{ loop.index }}位</td> -->
              <td>{{ character.name }}</td>
              <td>{{ character.quest_count }}個</td>
          </tr>
          {% endfor %}
        </tbody>

    </table>
    
    <h3>武器の割合</h3>
    <div id="my-chart ">
        <table class="charts-css pie show-primary-axis">
            <caption> 武器タイプの割合 </caption>

            <tr>
                <td style="--start: 0.0; --end: {{sword_count/(sword_count+tue_count)}};"> <span class="data"> 剣:{{ sword_count }} </span></td>
            </tr>
            <tr>
                <td style="--start: {{sword_count/(sword_count+tue_count)}}; --end: 1.0;"> <span class="data"> 杖:{{ tue_count }} </span></td>
            </tr>
        </table>
    </div>
</body>
</html>
