<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>テスト</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='charts.min.css') }}">
</head>
<body>
	<h1>テスト</h1>
	<h2>htmlはこれを参考に複製かコピペでもして作っておいてください</h2>
    <table class="charts-css pie">

		<caption> Chart Heading </caption>
	  
		<thead>
		  <tr>
			<th scope="col"> Year </th>
			<th scope="col"> Value </th>
		  </tr>
		</thead>
	  
		<tbody>
		  <tr>
			<th> 2016 </th>
			<td style="--size: calc( 20 / 100 );"> 20 </td>
		  </tr>
		  <tr>
			<th> 2017 </th>
			<td style="--size: calc( 40 / 100 );"> 40 </td>
		  </tr>
		  <tr>
			<th> 2018 </th>
			<td style="--size: calc( 60 / 100 );"> 60 </td>
		  </tr>
		  <tr>
			<th> 2019 </th>
			<td style="--size: calc( 80 / 100 );"> 80 </td>
		  </tr>
		  <tr>
			<th> 2020 </th>
			<td style="--size: calc( 100 / 100 );"> 100 </td>
		  </tr>
		</tbody>
	  
	  </table>
</body>
</html>
